<!DOCTYPE html>
<html>
	<head>
		<% set_title('Alchemy Info Page') %>
		<% this.foundation({protoblast: true}) %>
		<% style('alchemy-info') %>
	</head>
	<body>

		<header>
			<div class="header-image">
				<img class="alchemy-logo" src="<%= url('/alchemy-logo.png') %>">
				<h1 class="alchemy-name">Alchemy<br>v0.2.0</h1>
			</div>
			<div class="content">

				<% assign('welcome') %>

				<div class="row">
					<article class="engine col">
						<span>You are running</span>
						<span class="engine-name"><%= engine %></span>
						<span>version</span>
						<span class="engine-version"><%= versions.node %></span>
					</article>

					<article class="modules col">
						<h1>Modules</h1>
						<div class="table-wrap">
							<table>
								<% modules.forEach(function eachModule(module) { %>
									<tr class="<% if (module.failed) print('failed') %>">
										<td><%= module.name %></td>
										<td><%= module.version %></td>
									</tr>
								<% }) %>
							</table>
						</div>
					</article>

					<article class="datasources col">
						<h1>Datasources</h1>
						<ul class="checklist">
						<% Object.each(data_sources, function eachDatasource(datasource, key) { %>
							<% if (datasource.error) { %>
								<li class="failed">Could not connect to
							<% } else { %>
								<li class="success">Connected to
							<% } %>
							 <%= datasource.type %> <strong><%= key %></strong
							</li>
						<% }) %>
						</ul>
					</article>
				</div>

				<div class="row">
					<article class="plugins col">
						<h1>Plugins</h1>
						<ul>
						<% plugins.forEach(function eachPlugin(plugin) { %>
							<li><%= plugin %></li>
						<% }) %>
						</ul>
					</article>

					<article class="settings col">
						<h1>Settings</h1>
						<table>
							<thead>
								<tr>
									<th>Key</th>
									<th>Value</th>
									<th>Meaning</th>
								</tr>
							</thead>

							<tr>
								<td>cache</td>
								<td><%= settings.cache %></td>
								<td>Cache has been <%= ['disabled', 'enabled'][Number(!!settings.cache)] %></td>
							</tr>

							<tr>
								<td>compression</td>
								<td><%= settings.compression %></td>
								<td>Compression has been <%= ['disabled', 'enabled'][Number(!!settings.compression)] %></td>
							</tr>

							<tr>
								<td>cookies</td>
								<td><%= settings.cookies %></td>
								<td>Cookies have been <%= ['disabled', 'enabled'][Number(!!settings.cookies)] %></td>
							</tr>

							<tr>
								<td>debug</td>
								<td><%= settings.debug %></td>
								<td>Debugging has been <%= ['disabled', 'enabled'][Number(!!settings.debug)] %></td>
							</tr>

							<tr>
								<td>minify_js</td>
								<td><%= settings.minify_js %></td>
								<td>JavaScript minification has been <%= ['disabled', 'enabled'][Number(!!settings.minify_js)] %></td>
							</tr>

							<tr>
								<td>model_query_cache_duration</td>
								<td><%= settings.model_query_cache_duration %></td>
								<td>How long query results are cached</td>
							</tr>

							<tr>
								<td>port</td>
								<td><%= settings.port %></td>
								<td>The server runs on port <%= settings.port %></td>
							</tr>

							<tr>
								<td>kill_on_file_change</td>
								<td><%= settings.kill_on_file_change %></td>
								<td>The process <%= ['will', 'won\'t'][Number(!!settings.kill_on_file_change)] %> be killed when a file changes</td>
							</tr>

							<tr>
								<td>kill_extensions</td>
								<td><%= settings.kill_extensions %></td>
								<td></td>
							</tr>

							<tr>
								<td>sessions</td>
								<td><%= settings.sessions %></td>
								<td>Session storage type</td>
							</tr>

							<tr>
								<td>session_length</td>
								<td><%= settings.session_length %></td>
								<td>Duration of a session</td>
							</tr>

							<tr>
								<td>websockets</td>
								<td><%= settings.websockets %></td>
								<td>Websockets have been <%= ['disabled', 'enabled'][Number(!!settings.websockets)] %></td>
							</tr>
						</table>
					</article>
				</div>
			</div>
		</header>

		<% this.bottom() %>
	</body>
</html>
